        h1{
            color: orange;
        }
        a{
            text-decoration: none;
            padding: 10px 20px;
            background-color: black;
            color: white;
            border-radius: 10px;
        }
        a:hover{
            background-color: rgb(60, 60, 186);
        }